



<div id= "aboutustop"class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="span6">
      <div class="hero-unit">
        <center><%= image_tag("raghav.jpg", alt: "raghav") %></center>
        <center><h4>Raghav Nagarajan <span class="muted">Co-founder and CEO</span></h4></center>
        <p align="justify">Any discussion on math,music(#desi) and money excites Raghav. He is a true believer in value investing, does his own research and takes his time to invest his money into anything. Raghav has done his bachelors and masters in Mathematics from IIT Kharagpur. He has worked with several Indian and Global financial services firms like Barclays Capital, Edelweiss, Crisil in a diversified set of roles covering all facets of operations, technology and front office.He has cleared CFA(certified financial analyst) level 1 and 2, all 5 examinations of CFP(certified financial planner) certification, CWM(certified wealth manager) level 1 and 2. “Keep it simple” - he says.</p>
      </div>
      </div>

     <div class="span6">
      <div class="hero-unit">
        <center><%= image_tag("varun.jpg", alt: "raghav") %></center>
        <center><h4>Varun Mundra <span class="muted">Co-founder and CTO</span></h4></center>
        <p align="justify">If you want to befriend Varun, talk about poker ( strictly Texas holdem ). A true believer in high risk, high return strategies but cautions you to always maintain a stop loss.Varun has done his bachelors in computer science from IIT Kharagpur. He has worked with Oracle financial services and his home grown stock broking business. He has cleared CFA level 1, FRM (financial risk management) level 1 and 2 examinations. It took one call from Raghav to convince Varun that retail investments is an important problem in India and they can solve it together. “Invest regularly with discipline” – he says.</p>
      </div>
      </div> 
  </div>



  <div id= "aboutusbottom"class="container">
		<div class="offset2 span8">
		
		<h5><center>They together are looking to revamp the landscape of investment planning in India.</center><br><br> 
		<center>Complicated products  ->  Simple investments<br><br></center>
		<center>Forceful selling -> Educating the customer<br><br></center>
		<center>Haphazard investing - > Planned goal focused savings</center>
		</h5>
		</div>
	</div>