<!DOCTYPE html>
<html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
 	$('.carousel').carousel();
 	});
  $('#myModal').modal(options)
  $('#myModal2').modal(options)
 </script>

<body>
	<section class="block">
	<div id="myCarousel" class="carousel slide">
  	<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  	</ol>
  	<!-- Carousel items -->
  	<div class="carousel-inner">
    	<div class="active item"><%= image_tag("gullak21.jpg", alt: "gullak") %>
    	</div>
    	<div class="item"><%= image_tag("slate21.jpg", alt: "slate") %>
    	</div>
    	<div class="item"><%= image_tag("finance3.jpg", alt: "finance3") %>
    	</div>
  	</div>
  	<!-- Carousel nav -->
  	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	
                  <a href="/static_pages/videotreasure" role="button" class="btn btn-primary btn-large active" id="trybutton">
                  Rupee Vest Teaser</a>
                  <a href="/taxsavings/new" role="button" class="btn btn-primary btn-large active" id="trybutton">
                  Save Tax</a>
                 <a href="#myModal" role="button" class="btn btn-primary btn-large active" id="trybutton" data-toggle="modal">
                  Click here to try Demo</a>
                           
                          <!-- Modal -->
                          <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-header" id="myModalLabel">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                              <h2  align = "center" ><font face="Freestyle Script" color= "white">Hey It's awesome to have you here</font></h2>
                            </div>
                            <div class="modal-body">
                              <h4 align = "left">EXPLORE RUPEEVEST</h4>
                              <p align = "justify">We are India's first self-help online investment platform. We wish to make investing super simple for you. So go ahead, save tax, set up your life's financial goals and invest "online" to build wealth. </p>
                            </div>
                            <div class="modal-footer" >
                              <p align = "left"><b>Embarassingly Simple, Extremely Effective!</b>
                              <button class="btn btn-primary pull-right " data-toggle="modal" href="#long">Try It Now</button></p>
                            </div>



                        <div id="long" class="modal container hide fade" tabindex="-1" role="dialog">
                         
                          <div class="modal-body">
                              <iframe src="/static_pages/setup" style="zoom:0.60" frameborder="0" height="980" width="99.6%"></iframe>
                          </div>
                          <div class="modal-footer">
                            <button class="btn" data-dismiss="modal">OK</button>
                          </div>
                        </div>
                         </div>
          

	<div class="row">
  <div class="allthumb" style="margin: 0in 1in 0in 1in">

    <div class="span3" style="padding-right:3cm">
    <div class="thumbnail">
      <img data-src="holder.js/200x200" alt=".....">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        </div>
      </div>
    </div>

    <div class="span3" style="padding-right:3cm">
     <div class="thumbnail">
      <img data-src="holder.js/200x200" alt=".....">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        </div>
      </div>
    </div>
    
    <div class="span3">
     <div class="thumbnail">
      <img data-src="holder.js/200x200" alt=".....">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        </div>
      </div>
    </div>

  </div>
</div>


 
            <a target="_blank" href = "https://www.facebook.com/rupeevest"><%= image_tag("facebook1.png", alt: "fb") %></a>
            

</section>

<script src="C:\Sites\rails_projects\beta1-master\app\assets\javascripts\carousel.js"></script>  
</body>
</html>






