
<div class="container-fluid">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="span6">
      <div class="hero-unit">
        
        <center><h4>Why RupeeVest?</h4></center>
        <p align="justify">
		If you are a first time investor, if you are stuck with investments you don’t know about, if you have a lot money but don’t rely on anyone else to manage it, if you have ever been sold anything wrongly, RupeeVest is your one stop destination. We believe managing our own finances isn’t too difficult, little effort and little time and you are through. 
		So, the real question we are trying to address is Why YOU? The only answer we get is Why not YOU? 
		You have done most things in life yourself, you studied, you grew, you played, you learned. WE want you to be the master of your finances. There are several advantages to that. Most of us or atleast someone in our family has been cheated by one or the other so called advisors with super smart products and excellent stock tips. We don’t want you to be the victim ofmis-selling ( AnYmOre). We want you to be the master of your decisions. We want you to be responsible for your actions. We want to educate you. We want to empower you. We want to help you! So get ready to move towards financial independence where you can feel proud of managing your own money. 
		Save Tax! Plan for your life goals! And Invest with discipline!
		Start RupeeVesting!
		</p>
      </div>
      </div>

     <div class="span6">
      <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
		<iframe width="620" height="515" src="//www.youtube.com/embed/DqrN2kWPzPo" frameborder="0" allowfullscreen></iframe>
	  </div>

      </div> 
  </div>