
<body>

<p>Hi<br>
<br>

Thanks for signing up with RupeeVest for the free KYC service. We will get in touch with you shortly for arranging the pick up of documents from your house / office. <br><br>
The required documents, that you need to be ready with, for submission to the centralized KYC agency are:<br><br>
1. <b>Copy</b> of PAN Card<br>

2. <b>Copy</b> of Address Proof (One of the following: Voter ID, Passport, Ration Card, Registered House Sale/Lease agreement; Electricity / Phone Bill / Bank Account Statement / Passbook (not more than 3 months old) <br>

3. <b>Photograph</b><br><br>

If you haven't already shared your address already with us, kindly send us the exact address with a landmark in reply to this mail.<br> <br>

We look forward to meeting you. <br><br>

<br>
We look forward to meeting you.<br>
<br>
Thanks<br>
Team RupeeVest<br>
<br>



<font size="1">If you received this email by mistake, simply delete it. Sorry to bother you. <br></font>
</p>
</body>

 

