
<body>
<h3>Welcome to Rupeevest</h3>

<p>Hi<br>
<br>

Thanks for showing interest in RupeeVest. We are working hard to build an awesome platform to help you make simple investments. Whether you wish to save tax, invest for kids future, save for your MBA, or just have no idea of what to do with your money, we will help you take those decisions. Watch this space for updates as we get closer to launch. <br>
<br>
<font size="1">If you received this email by mistake, simply delete it. Sorry to bother you. <br></font>
<br>
Cheers<br>
Team RupeeVest
</p>
</body>