// Place all the styles related to the Freekycs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#freekyc1{
background-image: url(image_path('mint_thumb.jpg')); 

width: 100%;


}

#herofreekyc{
	padding-top: 20px;
	margin-top:30px;
	}