// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#trybutton {
  position: relative;
  top: -40px;
  left: 330px;
 
}


#videobackground
{
border-style:gro0ve;
border-color:#98bf21;
}



#myModalLabel{
  background: image-url('ocean.jpg');
  
}


